<nav class="navbar navbar-expand-sm navbar-light" id="neubar">
    <div class="container">
   
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" routerLink="/posts" routerLinkActive="active">Posts</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<router-outlet>

</router-outlet>